body {
    background-color: #0f2440;
    color: #C3AC6C;
    font-family: 'Montserrat', sans-serif;
}

.navbar-safra {
    background-color: #C3AC6C;
    color: white;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron > *{
    font-family: 'Josefin Sans', sans-serif;
}

.logo-navbar {
    height: 100px;
}

.btn-safra{
    display: inline-block;
    background: #C3AC6C;
    color: #151E45;
    font-size: 18px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    /*padding: 20px 30px 18px;*/
    transition: all 0.3s;
}

.opening-balance{
    color: #C3AC6C;
    font-size: 50px;
    line-height: 1.8em;
    font-weight: 400;
    text-align: center;
}

.container, .container-fluid{
    margin-top: 25px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* height: 60px; */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #C3AC6C;
}

.footer > .container-fluid{
    margin-top: 0;
}

.footer-social > a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    font-size: 20px;
    color: #0f2440;
    border-radius: 50%;
    /* padding-top: 12px; */
    margin-right: 6px;
    transition: all 0.3s;
}

#safra-registered{
    color: white;
    font-size: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */